# Cross tabs for different demographic groups and variables of interest
### Matthew Samach

In [1]:
import pandas as pd
import helpers as hp

In [2]:
list(enumerate(pd.read_csv("../Data/responses_anonymous.csv", encoding = "ISO-8859-1").columns))

[(0, 'id'),
 (1, 'addr'),
 (2, 'timestamp'),
 (3, '3 - Area of interest'),
 (4, '4 - Communities of interest'),
 (5, '5 - Destinations'),
 (6, '6 - Corridor preference'),
 (7, '7 - Pittsburgh areas'),
 (8, '8 - Allegheny County areas'),
 (9, '9 - PAAC Routes Used'),
 (10, '10 - Routing Type Preference'),
 (11, '11 - Current Transit Usage'),
 (12, '12 - Other Transport Used'),
 (13, '12 - Why Other Transport Used'),
 (14, '13 - Age'),
 (15, '13 - Employment status'),
 (16, '13 - Where From'),
 (17, '14 - Gender'),
 (18, '14 - Race'),
 (19, '15 - Comments')]

In [3]:
# Reading in data

[i for i in list(enumerate(pd.read_csv("../Data/responses_anonymous.csv", 
                                       encoding = "ISO-8859-1").columns))]

[(0, 'id'),
 (1, 'addr'),
 (2, 'timestamp'),
 (3, '3 - Area of interest'),
 (4, '4 - Communities of interest'),
 (5, '5 - Destinations'),
 (6, '6 - Corridor preference'),
 (7, '7 - Pittsburgh areas'),
 (8, '8 - Allegheny County areas'),
 (9, '9 - PAAC Routes Used'),
 (10, '10 - Routing Type Preference'),
 (11, '11 - Current Transit Usage'),
 (12, '12 - Other Transport Used'),
 (13, '12 - Why Other Transport Used'),
 (14, '13 - Age'),
 (15, '13 - Employment status'),
 (16, '13 - Where From'),
 (17, '14 - Gender'),
 (18, '14 - Race'),
 (19, '15 - Comments')]

In [22]:
# First will do Ages, Gender, Employment and Race vs Barriers to Transit

data = hp.firstNormal(pd.read_csv("../Data/responses_anonymous.csv", 
                                  encoding = "ISO-8859-1", usecols=[6, 11, 13, 14, 15, 17, 18]))
data.head()

,Corridor_preference,Current_Transit_Usage,Why_Other_Transport_Used,Age,Employment_status,Gender,Race
0,Mon Valley via Westinghouse Bridge,"Rarely, maybe a couple times a year",Transit isnt reliable to get me where Im going...,65-74 years old,Full-time employment,Man,Black or African American
1,Monroeville via 376 (P67 Corridor),Several times a week,Transit doesnt come often enough,35-44 years old,Part-time employment,Woman,White
2,Monroeville via 376 (P67 Corridor),Several times a week,Too slow,35-44 years old,Part-time employment,Woman,White
3,Monroeville via 376 (P67 Corridor),Several times a week,I usually need to carry too many things,35-44 years old,Part-time employment,Woman,White
4,Monroeville via 376 (P67 Corridor),Several times a week,Transit isnt reliable to get me where Im going...,35-44 years old,Part-time employment,Woman,White

## Beginning with just the 67 Corridor

In [23]:
c67 = data[data.Corridor_preference == 'Monroeville via Wilkinsburg (67 Corridor)']
c67.head()

,Corridor_preference,Current_Transit_Usage,Why_Other_Transport_Used,Age,Employment_status,Gender,Race
17,Monroeville via Wilkinsburg (67 Corridor),No more than once a week,Public transit is not available where I am tra...,55-64 years old,Retired,Woman,Black or African American
18,Monroeville via Wilkinsburg (67 Corridor),No more than once a week,I usually need to carry too many things,55-64 years old,Retired,Woman,Black or African American
19,Monroeville via Wilkinsburg (67 Corridor),"Rarely, maybe a couple times a year",Transit doesnt come often enough,18-24 years old,Full-time employment,Woman,Black or African American
20,Monroeville via Wilkinsburg (67 Corridor),"Rarely, maybe a couple times a year",No transit service at the times I need it,18-24 years old,Full-time employment,Woman,Black or African American
46,Monroeville via Wilkinsburg (67 Corridor),Daily commute,Public transit is not available where I am tra...,25-34 years old,Full-time employment,Man,White

### Looking at Barriers to Transit by Demographics (Age, Employment, Gender and Race)

In [25]:
# Age

pd.crosstab(c67.Age, c67.Why_Other_Transport_Used)

Why_Other_Transport_Used,I usually need to carry too many things,No transit service at the times I need it,Other,Public transit is not available where I am travelling to/from,The stops/stations are hard to get to because of bad or no sidewalks,Too expensive,Too slow,Transit doesnt come often enough,Transit isnt reliable to get me where Im going on time
Age,,,,,,,,,
12-17 years old,1,0,0,0,0,0,1,0,0
18-24 years old,2,4,1,2,2,3,6,3,3
25-34 years old,8,10,0,14,2,1,10,13,7
35-44 years old,5,4,2,5,3,1,2,7,4
45-54 years old,0,2,0,4,0,1,0,1,0
55-64 years old,1,1,0,1,1,0,1,1,1
65-74 years old,1,1,0,1,1,1,0,0,2
75 years or older,0,0,0,1,0,0,0,0,0

In [26]:
# Employment Status
pd.crosstab(c67.Employment_status, c67.Why_Other_Transport_Used)

Why_Other_Transport_Used,I usually need to carry too many things,No transit service at the times I need it,Other,Public transit is not available where I am travelling to/from,The stops/stations are hard to get to because of bad or no sidewalks,Too expensive,Too slow,Transit doesnt come often enough,Transit isnt reliable to get me where Im going on time
Employment_status,,,,,,,,,
Full-time employment,13,13,2,18,6,4,13,19,9
Part-time employment,1,3,0,3,2,1,4,3,3
Retired,1,1,0,3,0,0,0,0,1
Self-Employed,1,2,0,2,0,0,1,1,1
Student,1,1,0,1,0,0,1,1,1
Unemployed,1,2,1,1,1,2,1,1,2

In [27]:
# Gender
pd.crosstab(c67.Gender, c67.Why_Other_Transport_Used)

Why_Other_Transport_Used,I usually need to carry too many things,No transit service at the times I need it,Other,Public transit is not available where I am travelling to/from,The stops/stations are hard to get to because of bad or no sidewalks,Too expensive,Too slow,Transit doesnt come often enough,Transit isnt reliable to get me where Im going on time
Gender,,,,,,,,,
Gender Non-Conforming,0,1,0,0,0,0,0,0,0
Man,4,7,2,10,1,3,6,7,6
Prefer not to say,0,1,0,1,1,0,2,2,1
Woman,14,13,1,17,7,4,12,16,10

In [28]:
# Race
pd.crosstab(c67.Race, c67.Why_Other_Transport_Used)

Why_Other_Transport_Used,I usually need to carry too many things,No transit service at the times I need it,Other,Public transit is not available where I am travelling to/from,The stops/stations are hard to get to because of bad or no sidewalks,Too expensive,Too slow,Transit doesnt come often enough,Transit isnt reliable to get me where Im going on time
Race,,,,,,,,,
Asian,0,0,0,1,1,1,1,1,1
Black or African American,9,6,3,7,4,3,8,7,4
"Hispanic, Latino, or Spanish",0,2,0,1,0,1,1,1,1
Other,0,0,0,1,1,1,2,2,0
White,9,14,0,18,3,1,8,14,11

### Looking at Current Transit Usage by Demographics (Age, Employment, Gender and Race)

In [29]:
# Age

pd.crosstab(c67.Age, c67.Current_Transit_Usage)

Current_Transit_Usage,Daily commute,Multiple trips per day,Never,No more than once a week,"Rarely, maybe a couple times a year",Several times a week
Age,,,,,,
12-17 years old,2,0,0,0,0,0
18-24 years old,9,6,1,2,2,6
25-34 years old,12,17,0,13,9,14
35-44 years old,16,7,0,1,2,7
45-54 years old,1,3,0,2,2,0
55-64 years old,0,5,0,2,0,0
65-74 years old,0,0,0,4,0,3
75 years or older,0,0,1,0,0,0

In [30]:
# Employment

pd.crosstab(c67.Employment_status, c67.Current_Transit_Usage)

Current_Transit_Usage,Daily commute,Multiple trips per day,Never,No more than once a week,"Rarely, maybe a couple times a year",Several times a week
Employment_status,,,,,,
Full-time employment,25,28,0,15,6,23
Part-time employment,12,7,1,0,0,0
Retired,0,0,1,2,0,3
Self-Employed,0,0,0,2,6,0
Student,3,3,0,0,0,0
Unemployed,0,0,0,5,3,4

In [32]:
# Gender

pd.crosstab(c67.Gender, c67.Current_Transit_Usage)

Current_Transit_Usage,Daily commute,Multiple trips per day,Never,No more than once a week,"Rarely, maybe a couple times a year",Several times a week
Gender,,,,,,
Gender Non-Conforming,0,0,0,1,0,0
Man,18,1,1,9,8,9
Prefer not to say,0,2,0,0,0,6
Woman,22,35,1,14,7,15

In [39]:
# Race

pd.crosstab(c67.Race, c67.Current_Transit_Usage)

Current_Transit_Usage,Daily commute,Multiple trips per day,Never,No more than once a week,"Rarely, maybe a couple times a year",Several times a week
Race,,,,,,
Asian,0,6,0,0,0,0
Black or African American,18,9,2,8,4,10
"Hispanic, Latino, or Spanish",3,0,0,0,0,4
Other,0,7,0,0,0,0
White,19,16,0,16,11,16