# Cross tabs for different demographic groups and variables of interest
### Matthew Samach

In [1]:
import pandas as pd
import helpers as hp

In [2]:
list(enumerate(pd.read_csv("../Data/responses_anonymous.csv", encoding = "ISO-8859-1").columns))

[(0, 'id'),
 (1, 'addr'),
 (2, 'timestamp'),
 (3, '3 - Area of interest'),
 (4, '4 - Communities of interest'),
 (5, '5 - Destinations'),
 (6, '6 - Corridor preference'),
 (7, '7 - Pittsburgh areas'),
 (8, '8 - Allegheny County areas'),
 (9, '9 - PAAC Routes Used'),
 (10, '10 - Routing Type Preference'),
 (11, '11 - Current Transit Usage'),
 (12, '12 - Other Transport Used'),
 (13, '12 - Why Other Transport Used'),
 (14, '13 - Age'),
 (15, '13 - Employment status'),
 (16, '13 - Where From'),
 (17, '14 - Gender'),
 (18, '14 - Race'),
 (19, '15 - Comments')]

In [41]:
# First will do Ages, Gender, Employment and Race vs Barriers to Transit

data = hp.firstNormal(pd.read_csv("../Data/responses_anonymous.csv", 
                                  encoding = "ISO-8859-1", usecols=[6, 11, 12, 13, 14, 15, 17, 18]))
data.head()

,Corridor_preference,Current_Transit_Usage,Other_Transport_Used,Why_Other_Transport_Used,Age,Employment_status,Gender,Race
0,Mon Valley via Westinghouse Bridge,"Rarely, maybe a couple times a year",Private car,Transit isnt reliable to get me where Im going...,65-74 years old,Full-time employment,Man,Black or African American
1,Monroeville via 376 (P67 Corridor),Several times a week,Private car,Transit doesnt come often enough,35-44 years old,Part-time employment,Woman,White
2,Monroeville via 376 (P67 Corridor),Several times a week,Private car,Too slow,35-44 years old,Part-time employment,Woman,White
3,Monroeville via 376 (P67 Corridor),Several times a week,Private car,I usually need to carry too many things,35-44 years old,Part-time employment,Woman,White
4,Monroeville via 376 (P67 Corridor),Several times a week,Private car,Transit isnt reliable to get me where Im going...,35-44 years old,Part-time employment,Woman,White

## Beginning with the 67 Corridor

In [42]:
c67 = data[data.Corridor_preference == 'Monroeville via Wilkinsburg (67 Corridor)']
c67.head()

,Corridor_preference,Current_Transit_Usage,Other_Transport_Used,Why_Other_Transport_Used,Age,Employment_status,Gender,Race
22,Monroeville via Wilkinsburg (67 Corridor),No more than once a week,Private car,Public transit is not available where I am tra...,55-64 years old,Retired,Woman,Black or African American
23,Monroeville via Wilkinsburg (67 Corridor),No more than once a week,Private car,I usually need to carry too many things,55-64 years old,Retired,Woman,Black or African American
24,Monroeville via Wilkinsburg (67 Corridor),No more than once a week,Walking,Public transit is not available where I am tra...,55-64 years old,Retired,Woman,Black or African American
25,Monroeville via Wilkinsburg (67 Corridor),No more than once a week,Walking,I usually need to carry too many things,55-64 years old,Retired,Woman,Black or African American
26,Monroeville via Wilkinsburg (67 Corridor),"Rarely, maybe a couple times a year",ACCESS,Transit doesnt come often enough,18-24 years old,Full-time employment,Woman,Black or African American

### Looking at Barriers to Transit by Demographics (Age, Employment, Gender and Race)

In [43]:
# Age

pd.crosstab(c67.Age, c67.Why_Other_Transport_Used)

Why_Other_Transport_Used,I usually need to carry too many things,No transit service at the times I need it,Other,Public transit is not available where I am travelling to/from,The stops/stations are hard to get to because of bad or no sidewalks,Too expensive,Too slow,Transit doesnt come often enough,Transit isnt reliable to get me where Im going on time
Age,,,,,,,,,
12-17 years old,4,0,0,0,0,0,4,0,0
18-24 years old,7,11,2,6,7,10,18,10,10
25-34 years old,23,27,0,42,8,6,34,35,19
35-44 years old,12,8,4,11,7,2,4,11,8
45-54 years old,0,6,0,11,0,2,0,3,0
55-64 years old,2,1,0,2,1,0,1,1,1
65-74 years old,2,1,0,1,2,2,0,0,3
75 years or older,0,0,0,2,0,0,0,0,0

In [44]:
# Employment Status
pd.crosstab(c67.Employment_status, c67.Why_Other_Transport_Used)

Why_Other_Transport_Used,I usually need to carry too many things,No transit service at the times I need it,Other,Public transit is not available where I am travelling to/from,The stops/stations are hard to get to because of bad or no sidewalks,Too expensive,Too slow,Transit doesnt come often enough,Transit isnt reliable to get me where Im going on time
Employment_status,,,,,,,,,
Full-time employment,34,29,4,49,16,13,38,42,18
Part-time employment,5,10,0,11,7,4,13,10,12
Retired,2,1,0,5,0,0,0,0,1
Self-Employed,3,6,0,6,0,0,3,3,3
Student,4,2,0,1,0,0,4,2,2
Unemployed,2,6,2,3,2,5,3,3,5

In [45]:
# Gender
pd.crosstab(c67.Gender, c67.Why_Other_Transport_Used)

Why_Other_Transport_Used,I usually need to carry too many things,No transit service at the times I need it,Other,Public transit is not available where I am travelling to/from,The stops/stations are hard to get to because of bad or no sidewalks,Too expensive,Too slow,Transit doesnt come often enough,Transit isnt reliable to get me where Im going on time
Gender,,,,,,,,,
Gender Non-Conforming,0,1,0,0,0,0,0,0,0
Man,11,19,5,23,4,8,18,18,14
Prefer not to say,0,2,0,2,2,0,5,5,2
Woman,39,32,1,50,19,14,38,37,25

In [46]:
# Race
pd.crosstab(c67.Race, c67.Why_Other_Transport_Used)

Why_Other_Transport_Used,I usually need to carry too many things,No transit service at the times I need it,Other,Public transit is not available where I am travelling to/from,The stops/stations are hard to get to because of bad or no sidewalks,Too expensive,Too slow,Transit doesnt come often enough,Transit isnt reliable to get me where Im going on time
Race,,,,,,,,,
Asian,0,0,0,3,3,3,3,3,3
Black or African American,26,13,6,15,10,8,22,15,10
"Hispanic, Latino, or Spanish",0,5,0,2,0,3,3,2,3
Other,0,0,0,6,6,6,9,9,0
White,24,36,0,49,6,2,24,31,25

### Looking at Current Transit Usage by Demographics (Age, Employment, Gender and Race)

In [47]:
# Age

pd.crosstab(c67.Age, c67.Current_Transit_Usage)

Current_Transit_Usage,Daily commute,Multiple trips per day,Never,No more than once a week,"Rarely, maybe a couple times a year",Several times a week
Age,,,,,,
12-17 years old,8,0,0,0,0,0
18-24 years old,33,18,1,3,6,20
25-34 years old,27,68,0,34,27,38
35-44 years old,34,22,0,1,2,8
45-54 years old,3,9,0,6,4,0
55-64 years old,0,5,0,4,0,0
65-74 years old,0,0,0,8,0,3
75 years or older,0,0,2,0,0,0

In [48]:
# Employment

pd.crosstab(c67.Employment_status, c67.Current_Transit_Usage)

Current_Transit_Usage,Daily commute,Multiple trips per day,Never,No more than once a week,"Rarely, maybe a couple times a year",Several times a week
Employment_status,,,,,,
Full-time employment,54,87,0,36,12,54
Part-time employment,42,29,1,0,0,0
Retired,0,0,2,4,0,3
Self-Employed,0,0,0,6,18,0
Student,9,6,0,0,0,0
Unemployed,0,0,0,10,9,12

In [49]:
# Gender

pd.crosstab(c67.Gender, c67.Current_Transit_Usage)

Current_Transit_Usage,Daily commute,Multiple trips per day,Never,No more than once a week,"Rarely, maybe a couple times a year",Several times a week
Gender,,,,,,
Gender Non-Conforming,0,0,0,1,0,0
Man,53,2,1,26,22,16
Prefer not to say,0,6,0,0,0,12
Woman,52,114,2,29,17,41

In [50]:
# Race

pd.crosstab(c67.Race, c67.Current_Transit_Usage)

Current_Transit_Usage,Daily commute,Multiple trips per day,Never,No more than once a week,"Rarely, maybe a couple times a year",Several times a week
Race,,,,,,
Asian,0,18,0,0,0,0
Black or African American,61,15,3,15,8,23
"Hispanic, Latino, or Spanish",6,0,0,0,0,12
Other,0,36,0,0,0,0
White,38,53,0,41,31,34

## Why other transit used by demographics

In [51]:
# Age
pd.crosstab(c67.Age, c67.Other_Transport_Used)

Other_Transport_Used,ACCESS,Bicycle,Carpool,Jitney,Other,Private car,"Shuttles (university, parking, etc.)",Taxi,Uber/Lyft,Walking
Age,,,,,,,,,,
12-17 years old,0,0,0,2,0,2,0,0,2,2
18-24 years old,2,0,6,9,1,22,0,0,24,17
25-34 years old,0,28,20,14,2,44,4,0,37,45
35-44 years old,10,0,0,11,0,28,0,6,5,7
45-54 years old,0,2,0,0,0,8,0,0,4,8
55-64 years old,0,0,0,0,0,7,0,0,0,2
65-74 years old,4,0,0,0,0,7,0,0,0,0
75 years or older,1,0,0,0,0,1,0,0,0,0

In [54]:
# Employment Status
pd.crosstab(c67.Employment_status, c67.Other_Transport_Used)

Other_Transport_Used,ACCESS,Bicycle,Carpool,Jitney,Other,Private car,"Shuttles (university, parking, etc.)",Taxi,Uber/Lyft,Walking
Employment_status,,,,,,,,,,
Full-time employment,6,18,13,24,2,75,0,6,43,56
Part-time employment,6,4,10,6,0,16,4,0,13,13
Retired,1,0,0,0,0,6,0,0,0,2
Self-Employed,0,8,0,0,0,8,0,0,6,2
Student,0,0,0,2,0,3,0,0,5,5
Unemployed,4,0,3,4,1,11,0,0,5,3

In [55]:
# Gender
pd.crosstab(c67.Gender, c67.Other_Transport_Used)

Other_Transport_Used,ACCESS,Bicycle,Carpool,Jitney,Other,Private car,"Shuttles (university, parking, etc.)",Taxi,Uber/Lyft,Walking
Gender,,,,,,,,,,
Gender Non-Conforming,0,0,0,1,0,0,0,0,0,0
Man,0,15,6,6,1,43,0,0,24,25
Prefer not to say,0,2,2,0,0,6,0,0,0,8
Woman,17,13,18,29,2,70,4,6,48,48

In [56]:
# Race
pd.crosstab(c67.Race, c67.Other_Transport_Used)

Other_Transport_Used,ACCESS,Bicycle,Carpool,Jitney,Other,Private car,"Shuttles (university, parking, etc.)",Taxi,Uber/Lyft,Walking
Race,,,,,,,,,,
Asian,0,0,0,0,0,6,0,0,6,6
Black or African American,16,3,8,23,3,35,0,0,23,14
"Hispanic, Latino, or Spanish",0,0,0,4,0,7,0,0,4,3
Other,0,7,7,5,0,5,0,0,5,7
White,1,20,11,4,0,66,4,6,34,51