In [1]:
import pandas as pd
import numpy as np
import Schedule_Functions as sf
from datetime import datetime
from datetime import timedelta 

pd.set_option('max_rows', 20)

In [2]:
service_table = pd.read_csv("../Data/PAAC_Service_Table.csv")
service_table['route_no'] = service_table.route_no.apply(lambda x: str(x))

c:\users\bonnie\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
trip_fall19 = pd.read_csv('../Data/gtfs/trips.txt', sep=',')
grouped_df = trip_fall19.groupby(["route_id", "service_id", "trip_headsign", "direction_id"])
grouped_df = grouped_df.agg({"trip_id":"nunique"}).reset_index()
grouped_df[grouped_df.route_id.str.contains('P68')]

,route_id,service_id,trip_headsign,direction_id,trip_id
611,P68-183,2003-Liberty-Saturday-77,Inbound-(IA)-BRADDOCK HILLS FLYER TO DOWNTOWN,1,12
612,P68-183,2003-Liberty-Saturday-77,Outbound-(OA)-BRADDOCK HILLS FLYER MONROEVILLE...,0,12
613,P68-183,2003-Liberty-Sunday-15,Inbound-(IA)-BRADDOCK HILLS FLYER TO DOWNTOWN,1,11
614,P68-183,2003-Liberty-Sunday-15,Outbound-(OA)-BRADDOCK HILLS FLYER MONROEVILLE...,0,11
615,P68-183,2003-Liberty-Weekday-35,Inbound-(IA)-BRADDOCK HILLS FLYER TO DOWNTOWN,1,20
616,P68-183,2003-Liberty-Weekday-35,Inbound-(IZ)-BRADDOCK HILLS FLYER TO MONROEVIL...,1,8
617,P68-183,2003-Liberty-Weekday-35,Outbound-(OA)-BRADDOCK HILLS FLYER MONROEVILLE...,0,21

In [30]:
trip_fall19.loc[trip_fall19.route_id.str.contains('P68'),:].to_csv('../route_p68.csv')

In [9]:
trip_sched = pd.read_csv('https://data.wprdc.org/dataset/d1eb0fcd-ba60-4407-9969-ceef464d0c00/resource/36c61dbc-9e23-4c77-9f09-ca544d3c6174/download/schedule_daily_detail.csv')

Index(['Service.Context', 'Schedule.Type', 'Booking',
       'Number.of.InSrv.Trip.s.', 'Garage', 'Route', 'Trip.Start', 'Trip.End',
       'Trip.Block', 'Trp.Off.Serv.Duration', 'Trp.In.Serv.Duration',
       'Trp.Layover.Duration', 'Trp.Total.Duration', 'Trp.In.Serv.Dist.',
       'Trp.Off.Serv.Dist.', 'Trp.Dist.', 'Speed.Inbound', 'Speed.Outbound',
       'Trip.Variant', 'Trip.is.Pull.Out', 'Trip.is.Pull.In', 'Trip..',
       'Day.Type'],
      dtype='object')

In [15]:
trip_sched[]

,Service.Context,Schedule.Type,Booking,Number.of.InSrv.Trip.s.,Garage,Route,Trip.Start,Trip.End,Trip.Block,Trp.Off.Serv.Duration,...,Trp.In.Serv.Dist.,Trp.Off.Serv.Dist.,Trp.Dist.,Speed.Inbound,Speed.Outbound,Trip.Variant,Trip.is.Pull.Out,Trip.is.Pull.In,Trip..,Day.Type
0,Base,Weekday,1611,1,10,001,442a,610a,001 -001,0.0,...,24.422,0.0,24.422,16.65,NaN,ID,NaN,NaN,1946,Weekday
1,Base,Weekday,1611,1,10,001,527a,655a,001 -002,0.0,...,24.422,0.0,24.422,16.65,NaN,ID,NaN,NaN,1947,Weekday
2,Base,Saturday,1611,1,10,001,547a,705a,001 -001,0.0,...,24.422,0.0,24.422,18.79,NaN,ID,NaN,NaN,15956,Saturday
3,Base,Weekday,1611,1,10,001,557a,725a,001 -003,0.0,...,24.422,0.0,24.422,16.65,NaN,ID,NaN,NaN,1948,Weekday
4,Base,Weekday,1611,1,10,001,615a,736a,001 -006,0.0,...,24.891,0.0,24.891,NaN,18.44,OD,NaN,NaN,1418,Weekday
5,Base,Weekday,1611,1,10,001,627a,755a,001 -004,0.0,...,24.422,0.0,24.422,16.65,NaN,ID,NaN,NaN,1949,Weekday
6,Base,Sunday,1611,1,10,001,642a,800a,001 -001,0.0,...,24.422,0.0,24.422,18.79,NaN,ID,NaN,NaN,25640,Sunday
7,Holiday,Holiday1,1611,1,10,001,642a,800a,001 -001,0.0,...,24.422,0.0,24.422,18.79,NaN,ID,NaN,NaN,50640,Holiday1
8,Base,Saturday,1611,1,10,001,647a,810a,001 -002,0.0,...,24.422,0.0,24.422,17.65,NaN,ID,NaN,NaN,15957,Saturday
9,Base,Weekday,1611,1,10,001,659a,825a,001 -007,0.0,...,24.422,0.0,24.422,17.04,NaN,ID,NaN,NaN,1950,Weekday

In [6]:
service_table

,route_id,route_no,route_name,trip_id,trip_stop_sequence,stop_id,stop_name,direction_id,arr_time,dep_time,wkdy_service,sat_service,sun_service
0,001-182,1,Freeport Road,1473-1582265,1,TP7076,LAYOVER PENN PARK TERMINAL - NO STOP,Outbound,6:15 AM,6:15 AM,Yes,No,No
1,001-182,1,Freeport Road,1473-1582265,2,P01620,EAST BUSWAY AT PENN STATION C,Outbound,6:16 AM,6:16 AM,Yes,No,No
2,001-182,1,Freeport Road,1473-1582265,3,P02670,LIBERTY AVE OPP SMITHFIELD ST,Outbound,6:18 AM,6:18 AM,Yes,No,No
3,001-182,1,Freeport Road,1473-1582265,4,P02310,LIBERTY AVE AT 7TH ST (CLARK BLDG),Outbound,6:20 AM,6:20 AM,Yes,No,No
4,001-182,1,Freeport Road,1473-1582265,5,P00920,7TH ST AT FT DUQUESNE BLVD,Outbound,6:21 AM,6:21 AM,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
771101,Y49-182,Y49,Prospect Flyer,6399-1581360,50,P01875,FT PITT BLVD AT SMITHFIELD ST FS,Inbound,11:09 PM,11:09 PM,Yes,No,No
771102,Y49-182,Y49,Prospect Flyer,6399-1581360,51,P03660,WOOD ST AT THIRD AVE FS,Inbound,11:10 PM,11:10 PM,Yes,No,No
771103,Y49-182,Y49,Prospect Flyer,6399-1581360,52,P03695,WOOD ST BTW FORBES AVE & FIFTH AVE,Inbound,11:11 PM,11:11 PM,Yes,No,No
771104,Y49-182,Y49,Prospect Flyer,6399-1581360,53,P03690,WOOD ST AT SIXTH AVE,Inbound,11:11 PM,11:11 PM,Yes,No,No
771105,Y49-182,Y49,Prospect Flyer,6399-1581360,54,P00740,SIXTH AVE AT SMITHFIELD ST,Inbound,11:12 PM,11:12 PM,Yes,No,No

In [19]:
p68 = service_table[service_table.route_no == "P68"]
# p68.arr_time = p68.arr_time.apply(lambda x: datetime.strptime(x, '%I:%M %p') if type(x) == str else "")
# p68.dep_time = p68.dep_time.apply(lambda x: datetime.strptime(x, '%I:%M %p') if type(x) == str else "")
p68_copy = pd.DataFrame()
trips = list(p68.trip_id.unique())

# for t in trips:
#     temp = p68[p68.trip_id == t].sort_values("trip_stop_sequence").reset_index(drop = True)
    
#     time_thru = temp['arr_time'].iloc[temp.shape[0]-1] - \
#                  temp['arr_time'].iloc[0]
    
#     if time_thru.seconds/60 < 5:
#         continue
#     else:
#         p68_copy = p68_copy.append(temp)
        
# p68_copy = p68_copy.reset_index(drop = True)
# p68 = p68_copy

In [21]:
p68.to_csv('../sched_p68.csv')

In [18]:
trips = list(p68.trip_id.unique())

mod_68 = pd.DataFrame()

for t in trips:
    temp = p68[p68.trip_id == t].sort_values("trip_stop_sequence").reset_index(drop = True)
    inbound = temp.direction_id.iloc[0] == "Inbound"
    
#     time_thru = temp['arr_time'].iloc[temp.shape[0]-1] - \
#                  temp['arr_time'].iloc[0]
    
#     if time_thru.seconds/60 <5:
#         continue
    
    if inbound:
        new_row = temp.iloc[0:1, :].copy()
        new_row.stop_id.iloc[0] = "x"
        new_row.stop_name.iloc[0] = "Dummy Stop"
        
        temp.arr_time = temp.arr_time.apply(lambda x: x + timedelta(minutes=20))
        temp.dep_time = temp.dep_time.apply(lambda x: x + timedelta(minutes=20))
        temp.trip_stop_sequence = temp.trip_stop_sequence.apply(lambda x: x+1)
        
        mod_68 = mod_68.append(new_row)
        mod_68 = mod_68.append(temp)
        
    else:
        new_row = temp[temp.trip_stop_sequence == max(temp.trip_stop_sequence)].copy()
        new_row.stop_id.iloc[0] = "x"
        new_row.stop_name.iloc[0] = "Dummy Stop"
        new_row.trip_stop_sequence.iloc[0] = new_row.trip_stop_sequence.iloc[0] + 1
        new_row.arr_time.iloc[0] = new_row.arr_time.iloc[0] + timedelta(minutes=20)
        new_row.dep_time.iloc[0] = new_row.dep_time.iloc[0] + timedelta(minutes=20)
        
        mod_68 = mod_68.append(temp)
        mod_68 = mod_68.append(new_row)

mod_68 = mod_68.reset_index(drop = True)

c:\users\bonnie\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

TypeError: can only concatenate str (not "datetime.timedelta") to str

In [169]:
mod_68.arr_time = mod_68.arr_time.apply(lambda x: x if pd.isnull(x)  else
                                        datetime.strftime(x, '%I:%M %p'))
mod_68.dep_time = mod_68.dep_time.apply(lambda x: x if pd.isnull(x)  else
                                        datetime.strftime(x, '%I:%M %p'))

# mod_68.to_csv("../Data/Route Adjustments/modified_p68.csv", index=False)

## Checking Peak Vehicles Adjustments

In [198]:
def peak_vehicle(schedule, recovery_factor = 0.0):
    '''
    Given a schedule, returns the peak number of vehicles required to fulfill that schedule.
    Recovery factor is the percent of the trip that must be spent recovering.
    '''
    
    ### return "-" for empty dataframes
    if schedule.shape[0] == 0:
        return "-"
    
    ## Remove trips that have no departure time & arrival time information
    schedule = remove_complete_na_trips(schedule)
    
    ## Remove any trips where the time difference between first and last stops is less than 5 minutes
    trips = list(schedule.trip_id.unique())
    
    ## Convert arr_times to date type
    schedule.arr_time = schedule.arr_time.apply(lambda x: x if pd.isna(x) else datetime.strptime(x, '%I:%M %p'))

    new_df = pd.DataFrame()

    for t in trips:
        temp = schedule[schedule.trip_id == t].sort_values("trip_stop_sequence").reset_index(drop = True)
        
        first_stop_time = temp['arr_time'].iloc[0]
        
        last_stop_time_ix = temp.shape[0]-1
        
        if pd.isna(schedule.arr_time.iloc[last_stop_time_ix]):
                last_stop_time_ix = last_stop_time_ix-1
                
                while(pd.isna(schedule.arr_time.iloc[last_stop_time_ix])):
                    last_stop_time_ix = last_stop_time_ix-1
                    
                last_stop_time = temp['arr_time'].iloc[last_stop_time_ix]
                
        else:
            last_stop_time = temp['arr_time'].iloc[last_stop_time_ix]
        
        time_thru = last_stop_time - first_stop_time

        if time_thru.seconds/60 <= 25:
            continue
        else:
            new_df = new_df.append(temp)
            
    schedule = new_df.reset_index(drop = True)
    
    ## First order schedule by trips and stops
    schedule = schedule.sort_values(["trip_id", "trip_stop_sequence"]).reset_index(drop = True)
    
    ## Second go through all trips to get two lists. One with all departure times from first stops
    ## and second with (adjusted by recovery factor) arrival times for all last stops on trip.
    
    departure_times = list()
    arrival_times = list()

    for i in range(schedule.shape[0]):

        if i == 0:
            departure_times.append(schedule.arr_time[i])

        elif i == (schedule.shape[0]-1):

            if pd.isna(schedule.arr_time[i]):
                j = i-1
                while(pd.isna(schedule.arr_time[j])):
                    j = j-1
                arrival_times.append(schedule.arr_time[j])
            else:
                arrival_times.append(schedule.arr_time[i])

        elif schedule.trip_stop_sequence[i] == 1:

            # Some cases where we have na in columns
            if pd.isna(schedule.arr_time[i-1]):
                j = i-1
                while(pd.isna(schedule.arr_time[j])):
                    j = j-1
                arrival_times.append(schedule.arr_time[j])
            else:
                arrival_times.append(schedule.arr_time[i-1])

            departure_times.append(schedule.arr_time[i])

    # Accouting for recovery factor, we adjust arrival times
    adjusted_arrivals = [arrival_times[i] + ((arrival_times[i] - departure_times[i]) * (recovery_factor)) \
                         for i in range(len(arrival_times))]
    
    ## Third, create a dataframe that has all first and last stop times.
    trips_df = pd.DataFrame(zip(departure_times, adjusted_arrivals), columns = ["Departure", "Arrival"])

    # Assume that any trip that departs (or arrives) between the hours of 12am and 3am occurs on the next day
    for i in range(0, trips_df.shape[0]):
    
        if trips_df.Departure[i].hour <= 3:
            trips_df.loc[i, "Departure"] = trips_df.loc[i, "Departure"] + timedelta(days=1)
            trips_df.loc[i, "Arrival"] = trips_df.loc[i, "Arrival"] + timedelta(days=1)
        elif trips_df.Arrival[i].hour <= 3:
            trips_df.loc[i, "Arrival"] = trips_df.loc[i, "Arrival"] + timedelta(days=1)

    trips_df = trips_df.sort_values("Departure").reset_index(drop=True)
    
    ## Finally  count how many busses overlap at any one time and record the maximums
    peak_vehicles = 0

    for i in range(trips_df.shape[0]):

        if i != trips_df.shape[0]-1:
            inservice_vehicles = 0
            temp_arrival = trips_df.Arrival[i]

            j=i

            while trips_df.Departure[j] < temp_arrival:
                inservice_vehicles += 1
                j+=1

                if j == trips_df.shape[0]-1: break

            if inservice_vehicles > peak_vehicles:
                peak_vehicles = inservice_vehicles
                
    return peak_vehicles

In [200]:
peak_vehicle(mod_68)

6

In [201]:
#p68.arr_time = p68.arr_time.apply(lambda x: x if pd.isnull(x) else datetime.strftime(x, '%I:%M %p'))
peak_vehicle(p68)

5

## Exporting original to easy manipulated schedule format

In [66]:
ez_sched1

             Trip Beginning       End Direction
0   11022-1579400  05:39 AM  06:38 AM   Inbound
1   11023-1579403  06:14 AM  07:13 AM   Inbound
2   11024-1579397  06:44 AM  07:43 AM   Inbound
3   11025-1579262  07:13 AM  08:13 AM   Inbound
4   11026-1579400  07:48 AM  08:48 AM   Inbound
5   11028-1579404  08:18 AM  09:18 AM   Inbound
6   11029-1579262  09:30 AM  10:26 AM   Inbound
7   11030-1579404  10:30 AM  11:26 AM   Inbound
8   11031-1579542  11:30 AM  12:26 PM   Inbound
9   11032-1579267  12:30 PM  01:27 PM   Inbound
10  11033-1579405  01:30 PM  02:27 PM   Inbound
11  11034-1579291  02:22 PM  03:24 PM   Inbound
12  11035-1579407  02:46 PM  03:48 PM   Inbound
13  11036-1579405  03:46 PM  04:48 PM   Inbound
14  11037-1579264  04:51 PM  05:53 PM   Inbound
15  11039-1579310  05:44 PM  06:38 PM   Inbound
16  11041-1579704  06:44 PM  07:38 PM   Inbound
17  11043-1579310  07:54 PM  08:48 PM   Inbound
18  11044-1579704  08:59 PM  09:53 PM   Inbound
19  11045-1579310  10:09 PM  11:03 PM   Inbound
20   8012-1579400  06:38 AM  07:38 AM  Outbound
21   8020-1579404  06:58 AM  07:58 AM  Outbound
22   8029-1579403  07:13 AM  08:13 AM  Outbound
23   8063-1579262  08:13 AM  09:13 AM  Outbound
24   8092-1579404  09:18 AM  10:18 AM  Outbound
25   8104-1579542  10:19 AM  11:20 AM  Outbound
26   8113-1579267  11:19 AM  12:20 PM  Outbound
27   8122-1579405  12:19 PM  01:20 PM  Outbound
28   8131-1579407  01:19 PM  02:20 PM  Outbound
29   8141-1579405  02:27 PM  03:28 PM  Outbound
30   8151-1579264  03:18 PM  04:24 PM  Outbound
31   8161-1579407  03:48 PM  04:54 PM  Outbound
32   8172-1579310  04:18 PM  05:25 PM  Outbound
33   8185-1579405  04:48 PM  05:55 PM  Outbound
34   8200-1579704  05:18 PM  06:25 PM  Outbound
35   8214-1579264  05:53 PM  07:00 PM  Outbound
36   8226-1579310  06:38 PM  07:40 PM  Outbound
37   8236-1579704  07:38 PM  08:40 PM  Outbound
38   8244-1579310  08:48 PM  09:50 PM  Outbound
39   8251-1579704  09:53 PM  10:55 PM  Outbound
40   9910-1579404  06:56 AM  06:58 AM   Inbound
41   9911-1579542  10:17 AM  10:19 AM   Inbound
42   9912-1579267  11:17 AM  11:19 AM   Inbound
43   9913-1579405  12:17 PM  12:19 PM   Inbound
44   9914-1579407  01:17 PM  01:19 PM   Inbound
45   9918-1579264  03:15 PM  03:18 PM   Inbound
46   9937-1579310  04:15 PM  04:18 PM   Inbound
47   9963-1579704  05:15 PM  05:18 PM   Inbound

In [63]:
ez_sched1 = pd.DataFrame()

trips = list(p68.trip_id.unique())

for t in trips:
    temp = p68[p68.trip_id == t].sort_values("trip_stop_sequence").reset_index(drop = True)
    
    begin = temp.arr_time.iloc[0]
    end = temp[temp.trip_stop_sequence == max(temp.trip_stop_sequence)].arr_time.iloc[0]
    direction = temp.direction_id.iloc[0]
    
    if (not pd.isnull(begin)) & (not pd.isnull(end)):
        ez_sched1 = ez_sched1.append(pd.DataFrame(data = zip([t], [begin], [end], [direction]),
                                                 columns = ["Trip", "Beginning", "End", "Direction"]))
        
ez_sched1.Beginning = ez_sched1.Beginning.apply(lambda x: datetime.strftime(x, '%I:%M %p'))
ez_sched1.End = ez_sched1.End.apply(lambda x: datetime.strftime(x, '%I:%M %p'))
ez_sched1 = ez_sched1.reset_index(drop = True)

## Exporting manipulated to easy manipulated schedule format

In [11]:
ez_sched2 = pd.DataFrame()

mod_68_wd = mod_68[mod_68.wkdy_service == "Yes"]
trips = list(mod_68_wd.trip_id.unique())

for t in trips:
    temp = mod_68_wd[mod_68_wd.trip_id == t].sort_values("trip_stop_sequence").reset_index(drop = True)
    
    begin = temp.arr_time.iloc[0]
    end = temp[temp.trip_stop_sequence == max(temp.trip_stop_sequence)].arr_time.iloc[0]
    direction = temp.direction_id.iloc[0]
    
    if (not pd.isnull(begin)) & (not pd.isnull(end)):
        ez_sched2 = ez_sched2.append(pd.DataFrame(data = zip([t], [begin], [end], [direction]),
                                                 columns = ["Trip", "Beginning", "End", "Direction"]))
        
# ez_sched2.Beginning = ez_sched2.Beginning.apply(lambda x: datetime.strftime(x, '%I:%M %p'))
# ez_sched2.End = ez_sched2.End.apply(lambda x: datetime.strftime(x, '%I:%M %p'))
ez_sched2 = ez_sched2.reset_index(drop = True)

In [18]:
# Writing to excel
# ez_sched.to_csv("../Data/Route Adjustments/p68_ez.csv", index = False)
writer = pd.ExcelWriter('../Data/Route Adjustments/p68_ez.xlsx', engine='xlsxwriter')
ez_sched1.to_excel(writer, sheet_name='Original')
ez_sched2.to_excel(writer, sheet_name='Modified')
writer.save()