In [136]:
import pandas as pd
import datetime as dt
import re
import numpy as np
pd.options.mode.chained_assignment = None
pd.set_option('display.max_columns', 100)

from matplotlib import pyplot as plt
%matplotlib inline 

import seaborn as sns
sns.set_style('darkgrid')

from sklearn.linear_model import Lasso, Ridge, ElasticNet, LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

import math

In [3]:
url = 'https://data.wprdc.org/dataset/d1eb0fcd-ba60-4407-9969-ceef464d0c00/resource/36c61dbc-9e23-4c77-9f09-ca544d3c6174/download/schedule_daily_detail.csv'
trip_detail = pd.read_csv(url)

In [4]:
def format_time(timestring):
    timestring = timestring.strip()
    end = re.findall('[A-Za-z]$', timestring)
    if len(end)==0:
        print(timestring + ' has no letters')
        try: 
            return dt.datetime.strptime(timestring, '%H%M')
        except:
            return pd.NaT
    elif end[0] in ['a', 'p']:
        timestring = timestring + 'm'
    elif end[0] == 'x':
        timestring = re.sub('x', 'am', timestring)
    else:
        print(timestring + ' has no letters')
        timestring = re.sub('[A-Za-z].*$', '', timestring)
    try: 
        return dt.datetime.strptime(timestring, '%I%M%p')
    except:
        return pd.NaT

In [5]:
starts = [format_time(t) for t in trip_detail['Trip.Start']]
trip_detail['start_dt'] = starts
ends = [format_time(t) for t in trip_detail['Trip.End']]
trip_detail['end_dt'] = ends
trip_detail['start_hour'] = trip_detail['start_dt'].dt.hour
trip_detail['end_hour'] = trip_detail['end_dt'].dt.hour

In [6]:
trip_detail.dtypes

Service.Context                    object
Schedule.Type                      object
Booking                             int64
Number.of.InSrv.Trip.s.             int64
Garage                              int64
Route                              object
Trip.Start                         object
Trip.End                           object
Trip.Block                         object
Trp.Off.Serv.Duration             float64
Trp.In.Serv.Duration              float64
Trp.Layover.Duration              float64
Trp.Total.Duration                float64
Trp.In.Serv.Dist.                 float64
Trp.Off.Serv.Dist.                float64
Trp.Dist.                         float64
Speed.Inbound                     float64
Speed.Outbound                    float64
Trip.Variant                       object
Trip.is.Pull.Out                  float64
Trip.is.Pull.In                   float64
Trip..                              int64
Day.Type                           object
start_dt                   datetime64[ns]
end_dt                     datetime64[ns]
start_hour                          int64
end_hour                            int64
dtype: object

In [7]:
def time_per(hour):
    peak_min1 = 7
    peak_max1 = 10
    peak_min2 = 16
    peak_max2 = 19
    if (peak_min1 <= hour < peak_max1):
        return "AM"
    elif (peak_min2 <= hour < peak_max2):
        return "PM"
    else:
        return "OFFPEAK"

def peak_or_not(hour, trip_variant):
    #print(trip_variant)
    peak_min1 = 7
    peak_max1 = 10
    peak_min2 = 16
    peak_max2 = 19
    try:
        trip_variant[0]
    except:
        return 0
    if (((peak_min1 <= hour < peak_max1) & (trip_variant[0]=="I"))
        |((peak_min2 <= hour < peak_max2)& (trip_variant[0]=="O"))):
        return 1
    else:
        return 0

trip_detail["TimePer"] = [time_per(h) for h in trip_detail['start_hour']]
trip_detail["Peak"] = [peak_or_not(trip_detail['start_hour'][i], trip_detail['Trip.Variant'][i]) for i in range(len(trip_detail))]

In [8]:
trip_detail.Route = [r.lstrip('0') for r in trip_detail.Route]

In [9]:
def get_peak_count(df):
    df = df[(df.Booking == 1909)&(trip_detail['Day.Type']=="Weekday")]
    df = df.groupby(['Route', 'Peak'])
    df = df.agg({"Trip..": "count", 'Trp.In.Serv.Duration': 'mean'}).reset_index()
    df.columns = ['Route', 'Peak', "TripCount", 'Trip_HRS_Service']
    return df

In [10]:
peak_counts = get_peak_count(trip_detail)
peak_counts.to_csv('../Outputs/trip_counts_peak.csv')

In [11]:
peak_counts.Route = [r.lstrip('0') for r in peak_counts.Route]
peak_counts

    Route  Peak  TripCount  Trip_HRS_Service
0       1     0         38          1.392474
1       1     1         10          1.489800
2      11     0         39          0.401538
3      11     1         11          0.377545
4      12     0         37          1.086405
..    ...   ...        ...               ...
191   Y46     1         13          1.139692
192   Y47     0         38          0.840447
193   Y47     1         10          0.860200
194   Y49     0         39          0.871410
195   Y49     1          9          0.920333

[196 rows x 4 columns]

In [12]:
int(False)

0

In [13]:
def get_from_peak_table(route, peak=True, trip_not_time=True):
    #print(route)
    try:
        p = peak_counts[((peak_counts['Route']==route)&(peak_counts['Peak']==int(peak)))]
    #   print(p)
    except:
        print(route + ' not found')
        return 0
    if trip_not_time:
        try:
            cnt = p["TripCount"].iloc[0]
        except:
    #        print(p + 'not indexed')
            return 0
    else:
        try:
            cnt = p["Trip_HRS_Service"].iloc[0]
        except:
    #        print(p + 'not indexed')
            return 0
    return cnt

# Modeling Ridership Estimate

In [14]:
path1 = "../Data/RouteMatrix.xlsx"
xls1 = pd.ExcelFile(path1)
sheet_list = xls1.sheet_names  # see all sheet names
m = pd.read_excel(xls1, 'Matrix',  header=0)

In [15]:
def to_float(num):
    try:
        float(num)
        return float(num)
    except ValueError:
        return np.nan

In [212]:
matrix = m.iloc[:,:-45]
conv_col = ['Weekday_Avg_Headway_Inbound_Peak', 'Weekday_Avg Ridership',
       'Weekday_Avg_Headway_Inbound_OffPeak',
       'Weekday_Avg_Headway_Outbound_Peak',
       'Weekday_Avg_Headway_Outbound_OffPeak', 'Weekday_Peak_No_Units',
       'Saturday_Avg Ridership', 'Saturday_Avg_Headway_Inbound',
       'Saturday_Avg_Headway_Outbound', 'Saturday_# of Units',
       'Sunday_Avg Ridership',
       'Sunday_Avg_Headway_Inbound', 'Sunday_Avg_Headway_Outbound',
       'Sunday_# of Units']
for c in conv_col:
    matrix[c] = [to_float(a) for a in matrix[c]]

In [213]:
matrix['Weekday_Trips'] = matrix[['Weekday_Trips_Outbound', 'Weekday_Trips_Inbound']].sum(axis=1)
matrix['Sat_Trips'] = matrix[['Saturday_Trips_Outbound','Saturday_Trips_Inbound']].sum(axis=1)
matrix['Sun_Trips'] = matrix[['Sunday_Trips_Outbound','Sunday_Trips_Inbound']].sum(axis=1)
matrix['Wkdy_Peak_Hdwy'] = matrix[['Weekday_Avg_Headway_Inbound_Peak','Weekday_Avg_Headway_Outbound_Peak']].dropna().min(axis=1)
matrix['Wkdy_Offpeak_Hdwy'] = matrix[['Weekday_Avg_Headway_Inbound_OffPeak','Weekday_Avg_Headway_Outbound_OffPeak']].dropna().max(axis=1)
matrix['Sat_Hdwy'] = matrix[['Saturday_Avg_Headway_Inbound','Saturday_Avg_Headway_Outbound']].dropna().mean(axis=1)
matrix['Sun_Hdwy'] = matrix[['Sunday_Avg_Headway_Inbound','Sunday_Avg_Headway_Outbound']].dropna().mean(axis=1)
matrix = matrix[['Route Number', 'Walkshed Population', 'Avg Equity Score', 'Public Transportation Commute', 
       'No Vehicle Households', 'Median Income', 'Total Ridership', 'Weekday_Avg Ridership',
                 'Saturday_Avg Ridership', 'Sunday_Avg Ridership', 'Weekday_Trips',
       'Sat_Trips',       'Sun_Trips',       'Wkdy_Peak_Hdwy',       'Wkdy_Offpeak_Hdwy',       'Sat_Hdwy', 'Sun_Hdwy']]
matrix['Peak_Trips'] = [get_from_peak_table(r, peak=True, trip_not_time=True) for r in matrix['Route Number']]
matrix['OffPeak_Trips'] = matrix['Weekday_Trips']-matrix['Peak_Trips']
matrix['Peak_Runtime'] = [get_from_peak_table(r, peak=True, trip_not_time=False) for r in matrix['Route Number']]
matrix['Offpeak_Runtime'] = [get_from_peak_table(r, peak=False, trip_not_time=False) for r in matrix['Route Number']]

In [214]:
reliable = pd.read_csv('https://data.wprdc.org/datastore/dump/00eb9600-69b5-4f11-b20a-8c8ddd8cfe7a')
rel_grp = reliable.groupby(['route', 'route_full_name', 'day_type'])
rel_grp = rel_grp.agg({"on_time_percent": "mean", 'month_start': 'count'}).reset_index()

In [215]:
def get_ontime(route, daytype):
    #print(route)
    try:
        p = rel_grp.loc[((rel_grp['route']==str(route))&(rel_grp['day_type']==daytype)),'on_time_percent'].iloc[0]
        return p*100
    except:
        print(route + ' not found')
        return 0

In [216]:
matrix['Wkdy_Ontime'] = [get_ontime(r, daytype='WEEKDAY') for r in matrix['Route Number']] 
matrix['Sat_Ontime'] = [get_ontime(r, daytype='SAT.') for r in matrix['Route Number']]
matrix['Sun_Ontime'] = [get_ontime(r, daytype='SUN.') for r in matrix['Route Number']]

In [217]:
matrix.head()

,Route Number,Walkshed Population,Avg Equity Score,Public Transportation Commute,No Vehicle Households,Median Income,Total Ridership,Weekday_Avg Ridership,Saturday_Avg Ridership,Sunday_Avg Ridership,Weekday_Trips,Sat_Trips,Sun_Trips,Wkdy_Peak_Hdwy,Wkdy_Offpeak_Hdwy,Sat_Hdwy,Sun_Hdwy,Peak_Trips,OffPeak_Trips,Peak_Runtime,Offpeak_Runtime,Wkdy_Ontime,Sat_Ontime,Sun_Ontime
0,52L,22917,0.2371,0.160638,0.193936,46782,110696,429.0,NaN,NaN,24,0,0,28.728311,NaN,NaN,NaN,8,16,0.920625,0.610500,67.119231,0.000000,0.000000
1,53,13208,0.2296,0.137600,0.222329,47659,17501,NaN,337.0,NaN,0,34,0,NaN,NaN,59.911111,NaN,0,0,0.000000,0.000000,0.000000,72.144483,8.922222
2,53L,37038,0.2072,0.146400,0.195652,53303,377123,1462.0,NaN,NaN,55,0,0,24.331790,59.248052,NaN,NaN,13,42,1.196077,1.028595,65.950256,0.000000,0.000000
3,55,20479,0.2350,0.079900,0.253619,34649,331946,1005.0,759.0,601.0,36,36,34,60.000000,60.061506,59.763636,60.244213,0,36,0.000000,0.000000,74.326410,72.417949,74.829487
4,56,32080,0.2380,0.108700,0.275747,35137,516895,1700.0,823.0,647.0,60,34,32,25.144712,49.667461,60.000000,60.127273,0,60,0.000000,0.000000,68.416154,73.719487,78.109744

In [226]:
matrix['Weekend_Avg_Ridership'] =  matrix[['Saturday_Avg Ridership','Sunday_Avg Ridership']].sum(axis=1)
matrix['Weekend_Trips'] =  matrix[['Sat_Trips','Sun_Trips']].sum(axis=1)
matrix['Weekend_Hdwy'] =  matrix[['Sat_Hdwy','Sun_Hdwy']].max(axis=1)
matrix['Weekend_Ontime'] =  matrix[['Sat_Ontime','Sun_Ontime']].mean(axis=1)

In [228]:
matrix_p7 = matrix[matrix['Route Number']=='P7']
matrix_p7['OffPeak_Trips'] = matrix_p7['OffPeak_Trips'] + 26
matrix_p7['Weekday_Trips'] = 55
matrix_p7['Wkdy_Offpeak_Hdwy'] = 30
matrix_p7['Weekend_Trips'] = 24
matrix_p7['Weekend_Hdwy'] = 70

In [230]:
wkdy_matrix_p7 = matrix_p7.loc[matrix_p7['Weekday_Avg Ridership'].isna()==False,['Walkshed Population', 'Avg Equity Score',
       'Public Transportation Commute', 'No Vehicle Households',
       'Median Income', 'Wkdy_Ontime', 'Weekday_Trips','Wkdy_Peak_Hdwy',
       'Wkdy_Offpeak_Hdwy', 'Peak_Trips',
       'Peak_Runtime', 'Offpeak_Runtime']]

In [193]:
wkdy_x = matrix.loc[matrix['Weekday_Avg Ridership'].isna()==False,['Walkshed Population', 'Avg Equity Score',
       'Public Transportation Commute', 'No Vehicle Households',
       'Median Income', 'Wkdy_Ontime', 'Weekday_Trips','Wkdy_Peak_Hdwy',
       'Wkdy_Offpeak_Hdwy', 'Peak_Trips',
       'Peak_Runtime', 'Offpeak_Runtime']]
wkdy_y = matrix.loc[matrix['Weekday_Avg Ridership'].isna()==False,['Weekday_Avg Ridership']]
wkdy_x.fillna(wkdy_x.mean(), inplace=True)

In [231]:
wend_x = matrix.loc[(matrix['Weekend_Avg_Ridership'].isna()==False)&(matrix['Weekend_Avg_Ridership'] !=0),
                           ['Walkshed Population', 'Avg Equity Score',
       'Public Transportation Commute', 'No Vehicle Households',
       'Median Income', 'Weekend_Ontime', 'Weekend_Trips','Weekend_Hdwy',
       'Offpeak_Runtime']]
wend_y = matrix.loc[(matrix['Weekend_Avg_Ridership'].isna()==False)&(matrix['Weekend_Avg_Ridership'] !=0)
                    ,['Weekend_Avg_Ridership']]
wend_x.fillna(wend_x.mean(), inplace=True)

In [241]:
wend_matrix_p7 = matrix_p7.loc[:,
                           ['Walkshed Population', 'Avg Equity Score',
       'Public Transportation Commute', 'No Vehicle Households',
       'Median Income', 'Weekend_Ontime', 'Weekend_Trips','Weekend_Hdwy',
       'Offpeak_Runtime']]

# Modeling
## First a simple linear regression

In [194]:
X_train, X_test, y_train, y_test = train_test_split(wkdy_x, wkdy_y, test_size=0.30, random_state=40)

In [195]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

y_pred_train = lr_model.predict(X_train)
y_pred_test = lr_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)

print('R2 Train: {}'.format(r2_score(y_train, y_pred_train)))
print('R2 Test: {}'.format(r2_score(y_test, y_pred)))
print('RMSE: {}'.format(rmse))

R2 Train: 0.9740353130538549
R2 Test: -0.45897770128631077
RMSE: 944.2811970767843

This model does horribly. Let's try with some regularization:
## Lasso

In [196]:
lasso_model = Lasso(random_state=1234,
                  tol=1)
lasso_model.fit(X_train, y_train)

y_pred_train = lasso_model.predict(X_train)
y_pred_test = lasso_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)

print('R2 Train: {}'.format(r2_score(y_train, y_pred_train)))
print('R2 Test: {}'.format(r2_score(y_test, y_pred_test)))

print('RMSE: {}'.format(rmse))

R2 Train: 0.9648961061417406
R2 Test: 0.44677572134363386
RMSE: 944.2811970767843

In [197]:
enet_mod = ElasticNet(alpha=1.0,
                  l1_ratio=0.5,
                  random_state=1234,
                  tol=1)
enet_mod.fit(X_train, y_train)

pred_train_= enet_mod.predict(X_train)
pred_test_= enet_mod.predict(X_test)

print('R2 Train: {}'.format(r2_score(y_train, pred_train_)))
print('R2 Test: {}'.format(r2_score(y_test, pred_test_)))
print('RMSE: {}'.format(np.sqrt(mean_squared_error(y_test,pred_test_))))

R2 Train: 0.9504576081257767
R2 Test: 0.5910741212860098
RMSE: 499.9186197200794

Elastic net seems to be doing much better than the other regression models

In [198]:
enet = ElasticNet(alpha=1.0,
                  l1_ratio=0.5,
                  random_state=1234,
                  tol=1)
enet.fit(wkdy_x, wkdy_y)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=1234, selection='cyclic', tol=1, warm_start=False)

In [199]:
enet_mod.predict(wkdy_matrix_p7)

array([2255.56001828])

In [247]:
matrix

,Route Number,Walkshed Population,Avg Equity Score,Public Transportation Commute,No Vehicle Households,Median Income,Total Ridership,Weekday_Avg Ridership,Saturday_Avg Ridership,Sunday_Avg Ridership,Weekday_Trips,Sat_Trips,Sun_Trips,Wkdy_Peak_Hdwy,Wkdy_Offpeak_Hdwy,Sat_Hdwy,Sun_Hdwy,Peak_Trips,OffPeak_Trips,Peak_Runtime,Offpeak_Runtime,Wkdy_Ontime,Sat_Ontime,Sun_Ontime,Weekend_Avg_Ridersthip,Weekend_Trips,Weekend_Hdwy,Weekend_Ontime,Weekend_Avg_Ridership
0,52L,22917,0.2371,0.160638,0.193936,46782,110696,429.0,NaN,NaN,24,0,0,28.728311,NaN,NaN,NaN,8,16,0.920625,0.610500,67.119231,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
1,53,13208,0.2296,0.137600,0.222329,47659,17501,NaN,337.0,NaN,0,34,0,NaN,NaN,59.911111,NaN,0,0,0.000000,0.000000,0.000000,72.144483,8.922222,337.0,34,59.911111,40.533352,337.0
2,53L,37038,0.2072,0.146400,0.195652,53303,377123,1462.0,NaN,NaN,55,0,0,24.331790,59.248052,NaN,NaN,13,42,1.196077,1.028595,65.950256,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
3,55,20479,0.2350,0.079900,0.253619,34649,331946,1005.0,759.0,601.0,36,36,34,60.000000,60.061506,59.763636,60.244213,0,36,0.000000,0.000000,74.326410,72.417949,74.829487,1360.0,70,60.244213,73.623718,1360.0
4,56,32080,0.2380,0.108700,0.275747,35137,516895,1700.0,823.0,647.0,60,34,32,25.144712,49.667461,60.000000,60.127273,0,60,0.000000,0.000000,68.416154,73.719487,78.109744,1470.0,66,60.127273,75.914615,1470.0
5,57,21417,0.2628,0.173900,0.308560,33562,414276,1275.0,927.0,674.0,62,38,36,24.387500,47.589928,59.812500,60.410764,0,62,0.000000,0.000000,67.773333,63.166410,72.871026,1601.0,74,60.410764,68.018718,1601.0
6,59,48108,0.2783,0.190900,0.290470,33826,724016,2142.0,1912.0,1308.0,38,36,28,60.000000,59.608302,60.406998,60.192449,0,38,0.000000,0.000000,67.063590,67.488718,67.563590,3220.0,64,60.406998,67.526154,3220.0
7,60,14204,0.3020,0.129200,0.330309,25676,145956,566.0,NaN,NaN,30,0,0,59.750000,59.892857,NaN,NaN,0,30,0.000000,0.000000,80.990000,6.617778,0.000000,0.0,0,NaN,3.308889,0.0
8,61A,79046,0.2546,0.208800,0.247956,37280,1560788,4895.0,3210.0,2381.0,110,88,64,15.837414,23.463483,24.820209,36.667135,20,90,1.170150,1.020189,60.572051,68.842308,66.023846,5591.0,152,36.667135,67.433077,5591.0
9,61B,71049,0.2418,0.199200,0.238222,38560,1380803,4394.0,2708.0,1935.0,114,98,66,16.572146,24.426284,24.908870,36.096045,20,94,0.940150,0.824468,60.850000,68.711538,68.567692,4643.0,164,36.096045,68.639615,4643.0
10,61C,74631,0.2721,0.197600,0.243919,36634,2051738,6314.0,4562.0,3374.0,114,94,66,14.992239,23.850554,24.336217,34.756098,21,93,1.228571,1.070355,58.549231,59.302051,55.537692,7936.0,160,34.756098,57.419872,7936.0
11,61D,62943,0.2340,0.190300,0.214111,40803,1693101,5451.0,3264.0,2164.0,135,92,58,10.587654,21.738693,23.714103,34.412434,36,99,0.810889,0.823172,63.437949,65.058462,61.763846,5428.0,150,34.412434,63.411154,5428.0
12,64,58262,0.2170,0.234100,0.217761,55637,610011,1790.0,1720.0,1067.0,80,74,46,26.278450,30.203687,30.029703,44.027724,0,80,0.000000,0.000000,71.634615,71.117692,70.427692,2787.0,120,44.027724,70.772692,2787.0
13,65,39665,0.1918,0.192400,0.216680,42868,112975,438.0,NaN,NaN,23,0,0,24.209302,NaN,NaN,NaN,0,23,0.000000,0.000000,65.420513,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
14,67,74685,0.2282,0.169100,0.231159,40289,627582,2146.0,929.0,466.0,61,39,26,25.294503,49.892895,61.542877,61.545630,0,61,0.000000,0.000000,62.895897,64.210256,68.336111,1395.0,65,61.545630,66.273184,1395.0
15,68,24661,0.2504,0.170600,0.238671,40164,61681,100.0,453.0,223.0,0,20,16,NaN,NaN,90.582237,90.000000,0,0,0.000000,0.000000,60.882778,69.800000,75.040000,676.0,36,90.582237,72.420000,676.0
16,69,81423,0.2362,0.163000,0.226865,39760,427997,1530.0,369.0,256.0,51,22,20,31.821534,53.407555,90.871528,90.593750,0,51,0.000000,0.000000,60.647949,64.511026,68.883077,625.0,42,90.871528,66.697051,625.0
17,71,21653,0.2698,0.259200,0.237214,43069,23232,90.0,NaN,NaN,14,0,0,NaN,70.000000,NaN,NaN,0,14,0.000000,0.000000,70.689231,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
18,71C,77711,0.2509,0.220600,0.263002,37259,1769612,5812.0,3099.0,1981.0,122,72,54,15.517361,19.949818,30.134254,41.875589,22,100,0.958409,0.873400,56.667949,61.163590,62.733590,5080.0,126,41.875589,61.948590,5080.0
19,71D,71731,0.2675,0.220700,0.272163,35803,1357794,4572.0,1969.0,1378.0,131,78,58,12.580676,21.136364,30.016738,44.987159,24,107,0.848500,0.721234,62.182308,70.961538,70.181795,3347.0,136,44.987159,70.571667,3347.0
20,74,44950,0.2996,0.257200,0.249296,52107,278958,983.0,486.0,NaN,55,44,0,35.324742,40.595257,46.474722,NaN,0,55,0.000000,0.000000,64.844103,65.608974,0.000000,486.0,44,46.474722,32.804487,486.0
21,77,71847,0.2678,0.200900,0.262126,40854,699147,2335.0,1121.0,699.0,62,38,34,33.916074,42.478411,65.474913,60.552588,0,62,0.000000,0.000000,59.392821,58.217949,59.240256,1820.0,72,65.474913,58.729103,1820.0
22,79,20587,0.3576,0.248200,0.326478,33766,38240,NaN,NaN,NaN,78,63,35,29.666667,36.625213,43.155215,59.923841,0,78,0.000000,0.000000,67.460000,67.819487,64.717949,0.0,98,59.923841,66.268718,0.0
23,86,54367,0.2752,0.246000,0.293497,41850,977894,2937.0,2522.0,1618.0,86,90,64,28.850000,30.785563,26.778005,37.810020,0,86,0.000000,0.000000,60.486667,59.308462,62.998462,4140.0,154,37.810020,61.153462,4140.0
24,93,67894,0.2321,0.183300,0.196295,40862,518487,2010.0,NaN,NaN,66,0,0,29.864706,30.169853,NaN,NaN,0,66,0.000000,0.000000,69.405897,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
25,P1,37059,0.2446,0.250400,0.266539,45839,3135594,10448.0,4885.0,3380.0,260,116,90,4.621667,12.565114,17.834308,23.734432,61,199,0.448410,0.375533,77.937179,78.475897,76.809487,8265.0,206,23.734432,77.642692,8265.0
26,P12,44384,0.2290,0.228100,0.266282,45412,317125,1229.0,NaN,NaN,38,0,0,9.732353,NaN,NaN,NaN,18,20,1.048278,0.919200,64.190000,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
27,P16,49085,0.2287,0.195600,0.237526,49198,235077,911.0,NaN,NaN,28,0,0,17.871345,NaN,NaN,NaN,15,13,1.060000,1.032154,68.711538,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
28,P17,35687,0.3036,0.247500,0.281228,45469,100520,390.0,NaN,NaN,14,0,0,29.569507,NaN,NaN,NaN,8,6,0.687500,0.775167,69.922564,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
29,P2,31343,0.2400,0.248900,0.271863,45976,399339,1548.0,NaN,NaN,42,0,0,NaN,NaN,NaN,NaN,21,21,0.333000,0.363762,77.775385,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
30,P3,56361,0.2679,0.249700,0.245177,36597,727818,2821.0,NaN,NaN,113,0,0,8.897603,26.243119,NaN,NaN,37,76,0.509297,0.443329,83.685641,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
31,P67,42847,0.2350,0.230500,0.269890,44681,124666,483.0,NaN,NaN,19,0,0,20.429630,NaN,NaN,NaN,9,10,0.870444,0.696700,67.528205,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
32,P68,50679,0.2403,0.209600,0.254583,44742,317296,1230.0,NaN,NaN,49,0,0,31.197674,64.073314,NaN,NaN,9,40,1.048222,0.801975,63.603333,8.411111,8.325556,0.0,0,NaN,8.368333,0.0
33,P69,50750,0.2372,0.206000,0.245811,45141,65957,256.0,NaN,NaN,12,0,0,32.500000,NaN,NaN,NaN,6,6,0.966667,0.411000,56.760769,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
34,P7,51470,0.2869,0.250000,0.285881,40514,197203,764.0,NaN,NaN,29,0,0,24.344444,NaN,NaN,NaN,10,19,0.869900,0.843000,57.640513,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
35,P71,47567,0.2418,0.246000,0.250562,47057,147214,571.0,NaN,NaN,30,0,0,19.367273,NaN,NaN,NaN,13,17,0.710231,0.445059,69.330513,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
36,P76,47494,0.2237,0.207100,0.245032,46430,263476,1021.0,NaN,NaN,34,0,0,13.333333,NaN,NaN,NaN,13,21,1.041000,0.621238,60.810000,0.000000,0.000000,0.0,0,NaN,0.000000,0.0
37,P78,54007,0.2450,0.201100,0.259374,44957,318321,1234.0,NaN,NaN,50,0,0,22.688312,57.844156,NaN,NaN,13,37,0.961231,0.830270,59.313333,0.000000,0.000000,0.0,0,NaN,0.000000,0.0

In [200]:
matrix[matrix['Route Number']=='P7']

,Route Number,Walkshed Population,Avg Equity Score,Public Transportation Commute,No Vehicle Households,Median Income,Total Ridership,Weekday_Avg Ridership,Weekday_Trips,Sat_Trips,Sun_Trips,Wkdy_Peak_Hdwy,Wkdy_Offpeak_Hdwy,Sat_Hdwy,Sun_Hdwy,Peak_Trips,OffPeak_Trips,Peak_Runtime,Offpeak_Runtime,Wkdy_Ontime,Sat_Ontime,Sun_Ontime
34,P7,51470,0.2869,0.25,0.285881,40514,197203,764.0,29,0,0,24.344444,NaN,NaN,NaN,10,19,0.8699,0.843,57.640513,0.0,0.0

In [201]:
764/29#*55

26.344827586206897

In [202]:
pred_enet = enet.predict(wkdy_x)
print(np.sqrt(mean_squared_error(wkdy_y,pred_enet)))
print(r2_score(wkdy_y, pred_enet))

516.5417193027964
0.9438685482040371

In [207]:
print( list(zip(matrix['Route Number'], pred_enet) ))

[('52L', 167.64341811323902), (53, 1333.6067491632334), ('53L', 775.9544987180755), (55, 1677.4428890426864), (56, 1661.0783495590535), (57, 1432.7891786047835), (59, 596.3234381704231), (60, 4795.270332258749), ('61A', 4770.331597845998), ('61B', 4955.045063301532), ('61C', 5572.755226177253), ('61D', 2191.5844104541407), (64, 287.277175145442), (65, 2292.2858240522746), (67, -584.4551403993851), (68, 2128.568703834294), (69, -545.2779107290362), (71, 5342.88923155932), ('71C', 5513.901681413161), ('71D', 1366.360517911703), (74, 2454.8493837208644), (77, 3037.152255880712), (79, 2350.330535409321), (86, 9783.00667793325), (93, 1142.5864626058114), ('P1', 646.8918139657635), ('P12', -27.20578154806526), ('P16', 952.3845536862602), ('P17', 4329.524020039335), ('P2', 277.2862838787464), ('P3', 1572.034241108665), ('P67', 390.62844675842916), ('P68', 1168.0949009393796), ('P69', 695.4373112904611), ('P7', 1004.2400892635544), ('P71', 1773.3835708705867)]

In [203]:
enet.predict(matrix_p7)

array([2171.87360059])

In [204]:
print( list(zip(wkdy_x.columns, enet.coef_) ))

[('Walkshed Population', 0.014507276688218924), ('Avg Equity Score', -0.0), ('Public Transportation Commute', -0.0), ('No Vehicle Households', -0.0), ('Median Income', -0.03071522607827541), ('Wkdy_Ontime', -21.373093727210787), ('Weekday_Trips', 36.72489609147823), ('Wkdy_Peak_Hdwy', 8.798882947149757), ('Wkdy_Offpeak_Hdwy', -4.536071448201992), ('Peak_Trips', 19.809061401121692), ('Peak_Runtime', 26.55317512930801), ('Offpeak_Runtime', 33.505712708629865)]

In [245]:
offpeak_factor = 36.72489609147823-19.809061401121692
offpeak_factor

16.915834690356537

Weekend prediction

In [233]:
X_train_wnd, X_test_wnd, y_train_wnd, y_test_wnd = train_test_split(wend_x, wend_y, test_size=0.30, random_state=40)

In [237]:
enet_wend_train = ElasticNet(alpha=1.0,
                  l1_ratio=0.5,
                  random_state=1234,
                  tol=1)
enet_wend_train.fit(X_train_wnd, y_train_wnd)

pred_train_= enet_wend_train.predict(X_train_wnd)
pred_test_= enet_wend_train.predict(X_test_wnd)

print('R2 Train: {}'.format(r2_score(y_train_wnd, pred_train_)))
print('R2 Test: {}'.format(r2_score(y_test_wnd, pred_test_)))
print('RMSE: {}'.format(np.sqrt(mean_squared_error(y_test_wnd,pred_test_))))

R2 Train: 0.8532786971753774
R2 Test: 0.09765123580034096
RMSE: 2559.449515963371

In [238]:
enet_wend = ElasticNet(alpha=1.0,
                  l1_ratio=0.5,
                  random_state=1234,
                  tol=1)
enet_wend.fit(wend_x, wend_y)
pred_enet_wend = enet_wend.predict(wend_x)
print(np.sqrt(mean_squared_error(wend_y,pred_enet_wend)))
print(r2_score(wend_y, pred_enet_wend))

856.2445465140992
0.8711391045794029

In [243]:
enet_wend.predict(wend_matrix_p7)

array([676.24550757])

In [246]:
print( list(zip(wend_x.columns, enet_wend.coef_) ))

[('Walkshed Population', 0.003669094188665355), ('Avg Equity Score', 6.166990353544749), ('Public Transportation Commute', -0.9404378249978783), ('No Vehicle Households', -0.0), ('Median Income', -0.042482033624603927), ('Weekend_Ontime', -9.408654581526047), ('Weekend_Trips', 37.599570561379245), ('Weekend_Hdwy', -12.550182240699671), ('Offpeak_Runtime', 122.1586396335817)]